table, th, td {
    border: 1px solid black;
    backgroundcolor: aquamarine;
    width: 20%;
    background: linear-gradient(180deg, #f5f4f4 64.12%, #08b993 164.45%) no-repeat;
    
    

    
  }
.cover-img{
  position: relative;
  left: 25%;
  
}
.cover-img img{
  filter: blur(5px);
}


