.res{

    text-align: center;
position: relative;
    bottom: -100px;
    background-color: #3ee6c1;
    

}
.cover-img{
       position: relative;
       left: 25%;
       
}
.cover-img img {
    filter: blur(5px);
  }