{% extends "base_navbar.html" %}

{% block CSS_File %}
<link rel="stylesheet" href="static/style_Appointment.css"  />
{% endblock %}

{% block main %}

<div class="cover-img">
  <img
            src="static/assets/LabCoatHumanCentered.svg"
            alt="Artistic Doctor"
          />
</div>

<div class="t">
  <h1>
    Book Your Appointment
  </h1>
  <br><br>
  <h2>
    Kindly enter your symptoms (You may separated your symptoms by a comma)
  </h2>
  <br><br>
  <input class="box" type="text" , placeholder="Symptoms pls">
  {% for name in docs %}
      <div class="doc{{loop.index}}">
        <h2> {{name[0]}} </h2>
        <br>
        <button class="but" onclick="appoint({{loop.index}})">Book Your Appointment!</button>

        <p id="demo{{loop.index}}"></p>
        <br><br>


      </div>
  {% endfor %}
<a class="submit" href="response%20submission.html">
  <h3>Submit</h3>
</a>
</div>
<script>
          function appoint(index_number) {

            document.getElementById("demo" + index_number).innerHTML = "<input type=\"datetime-local\" id=\"time\" value=\"time\" >";
          }
</script>
{% endblock %}
