{% extends "base_navbar.html" %} {% block CSS_File %}
<link rel="stylesheet" href="static/style_doctor_selection.css" />
{% endblock %} {% block main %}

<main>
  <div class="cover-img">
    <img src="static/assets/LabCoatHumanCentered.svg" alt="Artistic Doctor" />
  </div>
  <div class="forms">
    <h1 class="yo">Select Doctor's Specialisation</h1>
    <br />
    <form action="/patients/appointment" method="POST">
      <label for="docs">Which Doctor you want to see:</label>
      <select name="docs" id="docs">
        <option value="Cardiologist">Cardiologist</option>
        <option value="Audiologist"> Audiologist</option>
        <option value="Dentist">Dentist</option>
        <option value="ENT specialist"> ENT specialist</option>
        <option value="Gynaecologist">Gynaecologist</option>
        <option value="Orthopaedic surgeon">Orthopaedic surgeon</option>
        <option value="Paediatrician">Paediatrician</option>
        <option value="Psychiatrists">Psychiatrists</option>
        <option value="Radiologist">Radiologist</option>
        <option value="Neurologist">Neurologist</option>
      </select>
      <br /><br />
      <input class="w-100 btn btn-lg green-button submit" type="submit" value="Submit" />
    </form>

    <br />
<!--    <h2 class="thanks">-->
<!--      <b>"Thank you for choosing your Doctor"</b>-->
<!--    </h2>-->
  </div>
</main>
{% endblock %}
