{% extends 'base_navbar.html' %}
<!-- variables used: 
    - login_failed -> bool : if true, then an alert pops up that login has failed
  -->

{% block CSS_File %}
<link rel="stylesheet" href="static/login_style.css" />
<link rel="stylesheet" href="static/new_login.css" />
{% endblock %} {% block main %} {% if login_failed -%}
<div class="alert alert-danger" role="alert">Invalid Password! 😕</div>
{% else -%} {% endif %}

<main class="form-signin" style="margin-top: 10%">
  <div class="text-center">
    <form action="/login" method="POST">
      <img
        src="static/assets/favicon.png"
        alt="logo"
        class="mb-4"
        width="72"
        height="72"
      />
      <h1>Login</h1>
      <input
        name="email"
        type="email"
        id="inputEmail"
        class="form-control"
        placeholder="Email address"
        required=""
        autofocus=""
        style="
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-size: 16px 18px;
          background-position: 98% 50%;
          cursor: auto;
        "
      />
      <input
        name="password"
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Password"
        required=""
        style="
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-size: 16px 18px;
          background-position: 98% 50%;
          cursor: auto;
        "
      />
      <button class="w-100 btn btn-lg green-button" type="submit">
        Sign in
      </button>
    </form>
  </div>
</main>
<div
  class="cover-img"
  style="
    position: absolute;
    filter: blur(5px);
    bottom: 0.5%;
    z-index: -1;
    width: 50%;
  "
>
  <img src="static/assets/LabCoatHumanCentered.svg" alt="Artistic Doctor" />
</div>
{% endblock %}
